body{
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: "Times New Roman", Times, serif; */
  /* font-family: Georgia, serif; */
  

  /* ////////////////////////////////////// */
  /* justify-content: space-around;
  align-items: ;
  alig
  justify-items: ;
  text-justify: ;
  -ms-text-justify: ;
  text-justify: auto;
  pointer-events: all;
  cursor: text;
  background-color: rgba(0, 0, 0, 0.5);
   */

  /* justify-self: ; */

}


a:hover {
  border-bottom: 5px solid rgb(0, 0, 0);
}